# OS-specific artifacts
.DS_Store
Thumbs.db

# Logs
*.log

# Optional: GitHub Pages or Jekyll artifacts
_site/
.jekyll-cache/
.jekyll-metadata

# Optional: Netlify deploy previews
.netlify/

# Optional: future build artifacts
dist/
build/

# Optional: Python dependency or local DB artifacts
# requirements.txt
*.sqlite

#Python Artifacts
__pycache__/
*.pyc

#Local Environment Files
.env

#Editor/IDE Metadata
.vscode/
.idea/